mixin box(title, collapsible=false, collapsed=false)
  - klass = collapsible ? 'collapsible' + (collapsed ? ' collapsed' : '') : ''
  .card.border-secondary&attributes(attributes)(class=klass)
    h5.card-header.d-flex.justify-content-between
      = title
      if collapsible
        +icon('arrows-expand')
        +icon('arrows-collapse')
    .card-text: block

mixin icon(name)
  svg.bi(fill='currentColor', style='height:1em;width:1em', class=`icon-${name}`): use(xlink:href="icons.svg#"+name)

mixin h(n, title)
  - tag = `h${n}`
  - slug = title.toLowerCase().replace(/\W+/g, '-')
  #{tag}(id=slug)&attributes(attributes)
    a.anchor(href=`#${slug}`): +icon('link-45deg')
    span.ttl= title

doctype html

head
  title Minsc

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='A Miniscript-based scripting language for Bitcoin contracts')

  meta(property='og:title', content='Minsc')
  meta(property='og:description', content='A Miniscript-based scripting language for Bitcoin contracts')
  meta(property='og:image', content='https://min.sc/img/social.png')
  meta(name='twitter:card', content='summary_large_image')

  link(rel='stylesheet', href='bootstrap.min.css')
  link(rel='stylesheet', href='style.css')

body
  #content.container-fluid.mt-3
    .row
      .col-md-8.col-lg-9
        #editor-wrap.card.border-secondary
          h5.card-header.d-flex.justify-content-between
            | Minsc
            .d-flex.justify-content-end
              input#share-box.form-control.form-control-sm.bg-dark.text-muted.d-none(readonly)
              a#share.btn.btn-sm.btn-secondary.bg-dark(href='#') #[+icon('link-45deg')] Share URL
          #editor.card-text

          #error.alert.alert-warning

      .col-md-4.col-lg-3
        h5#loading.font-italic.text-center Loading WASM...

        #outputs
          +box('Public Key', true, true)#output-key: .codeview
          +box('Policy', true, true)#output-policy: .codeview
          +box('Descriptor', true, true)#output-desc: .codeview
          +box('Taproot', true, true)#output-tapinfo: .codeview
          +box('Script', true, true)#output-script: .codeview
          +box('Address', true, true)#output-address
            p.m-0.p-2 #[span]
          +box('Result', false, false)#output-other: .codeview

    script.
      (function(u, _paq) {
        _paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);_paq.push(['setTrackerUrl', u+'t']);_paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.src=u+'j'; s.parentNode.insertBefore(g,s);
      })("//s.min.sc/", window._paq=[]);
    noscript: img(src='//s.min.sc/t?idsite=1&rec=1', style='border:0;', alt='')

  script(src='index.js')
